* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #282828;
}

.instruction {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.92);
  width: 65%;
  height: 80vh;
  transform: rotate(-5deg);
  z-index: 3;
  padding: 12px;
  font-size: 4.5vw;
  will-change: filter;
  filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.3));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: z-index 0s 1s;
}

.instruction:hover {
  cursor: pointer;
}

.instruction-texture {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  opacity: 43%;
  mix-blend-mode: screen;
  pointer-events: none;
}

.instruction-kor {
  line-height: 1.25;
  font-size: 4.3vw;
}

.instruction-control {
  display: flex;
  z-index: -1;
  opacity: 0;
  flex-direction: column;
  gap: 0.8vh;
  font-size: 2.4vw;
  text-align: end;
  transition: opacity 700ms ease-in-out;
}

.instruction-control-kor {
  line-height: 1.28;
  font-size: 2.15vw;
}

.fadein {
  opacity: 1;
}

.copyright {
  font-size: 4vw;
}

.credit {
  width: 36%;
  background-color: rgba(255, 255, 255, 0.92);
  padding: 8px;
  will-change: filter;
  filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.3));
  font-size: 3.4vw;
  line-height: 1.15;
  overflow: hidden;
  position: absolute;
  right: 13%;
  top: 20%;
  z-index: 2;
  transform: rotate(3.5deg);
  transition: z-index 0s 1s;
}

.credit:hover {
  cursor: pointer;
}

.credit-texture {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  opacity: 43%;
  mix-blend-mode: screen;
  pointer-events: none;
}

.credit-text {
  display: flex;
  flex-direction: column;
  gap: 7vh;
}

.credit-pic {
  width: 100%;
  margin-top: 4px;
}

.board-texture {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  opacity: 33%;
  mix-blend-mode: screen;
  pointer-events: none;
}

.board-container {
  background-color: rgba(219, 217, 207, 0.84);
  background-color: rgba(225, 223, 216, 0.84);
  /* background-color: rgba(255, 255, 255, 0.8); */

  padding: 12px;
  margin: 0 auto;
  will-change: filter;
  filter: drop-shadow(0 0 0.27rem rgba(0, 0, 0, 0.3));
  overflow: hidden;
  z-index: 1;
  transition: z-index 0s 1s;
}

.show {
  animation: shift 1.5s ease-in-out;
}

@keyframes shift {
  50% {
    translate: 0 -1000px;
  }
  100% {
    translate: 0;
  }
}

.board-table {
  border-collapse: collapse;
}

.board > tr > td {
  width: 80px;
  height: 80px;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  background-size: contain;
}

.board > tr > td:hover {
  cursor: pointer;
}

.l1 {
  background-image: url("./assets/pattern/ls.png");
}

.s1 {
  background-color: #545d60;
}
.s2 {
  background-color: #231919;
}
.s3 {
  background-color: #231919;
}
.s4 {
  background-color: #545d60;
}
.h1 {
  /* background-color: #fcc066; */
  background-color: #9d9d9d;
  background-image: url("./assets/pattern/hl.png");
}
.v1 {
  /* background-color: #a6f0db; */
  background-color: #e7e7e7;
  background-image: url("./assets/pattern/vl.png");
}

.v2 {
  /* background-color: #8fecd1; */
  background-color: #d1d1d1;
  background-image: url("./assets/pattern/vl.png");
}
.v3 {
  /* background-color: #7de4c6; */
  background-color: #bebebe;
  background-image: url("./assets/pattern/vl.png");
}
.v4 {
  /* background-color: #6fdebe; */
  background-color: #a9a9a9;
  background-image: url("./assets/pattern/vl.png");
}

@media screen and (min-width: 40rem) {
  .board > tr > td {
    width: 110px;
    height: 110px;
  }

  .instruction {
    z-index: 3;
    font-size: 3.7vw;
  }

  .instruction-kor {
    font-size: 3.45vw;
  }

  .instruction-control {
    /* font-size: 0.8rem; */
    font-size: 1.8vw;
  }

  /* .instruction-control > p > br {
    display: inline-block;
    content: " ";
  } */

  .instruction-control-kor {
    /* font-size: 0.6rem; */
    font-size: 1.6vw;
  }

  .credit {
    font-size: 2.2vw;
    top: 22.2%;
    z-index: 2;
  }
}

@media screen and (min-width: 56rem) {
  .board > tr > td {
    width: 125px;
    height: 125px;
  }

  .instruction {
    font-size: 3vw;
  }

  .instruction-kor {
    font-size: 2.7vw;
  }

  .instruction-control {
    width: 100%;
    font-size: 1rem;
    align-items: end;
  }

  .instruction-control-kor {
    font-size: 0.85rem;
  }

  .instruction-control-gif {
    width: 23.8rem;
  }

  .credit {
    font-size: 1rem;
    top: 48%;
    right: 14%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .credit-pic {
    height: 24vh;
    /* width: 50%; */
    width: 33%;
    min-width: 3.5rem;
    object-fit: cover;
    margin-top: 0;
    /* mix-blend-mode: multiply; */
    /* filter: contrast(100%) brightness(0.9) sepia(20%); */
    opacity: 0.9;
    z-index: -2;
  }
  .credit-text {
    flex-direction: row;
    gap: 0;
    padding: 8px 0 8px 8px;
    width: 66%;
  }

  .credit-text > p {
    /* justify-content: space-between; */
    /* padding: 12px; */
    /* width: 28vh; */
    flex: 1;
    padding-right: 1.5rem;
    min-width: 3rem;
    /* margin: 0 auto; */
  }
}
