* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #282828;
}

.instruction {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.92);
  width: 65%;
  height: 80vh;
  transform: rotate(-5deg);
  z-index: 3;
  padding: 12px;
  will-change: filter;
  filter: drop-shadow(0 0 0.27rem rgba(85, 84, 71, 0.3));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: z-index 0s 1s;
}

.instruction:hover {
  cursor: pointer;
}

.instruction-texture {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  opacity: 43%;
  mix-blend-mode: screen;
  pointer-events: none;
}

.instruction > p {
  animation: pFadeIn 300ms;
}

.instruction-eng {
  font-size: 4.6vw;
  padding-right: 30px;
  order: 0;
}

.instruction-kor {
  height: fit-content;
  opacity: 1;
  line-height: 1.25;
  font-size: 4.28vw;
  /* transition: height 0ms ease-in-out 300ms; */
  /* transition: opacity 700ms ease-in-out; */
}

.hide {
  height: 0;
  opacity: 0;
}

.instruction-control {
  display: flex;
  height: 0;
  z-index: -1;
  opacity: 0;
  flex-direction: column;
  gap: 0.8vh;
  align-items: end;
  text-align: end;
  /* font-size: 2.4vw; */
  font-size: 0.64rem;
  transition: height 0ms ease-in-out 300ms;
  transition: opacity 300ms ease-in-out;
  transition: order 0ms ease 0ms;
}

.instruction-control-kor {
  line-height: 1.28;
  /* font-size: 2.15vw; */
  font-size: 0.59rem;
  /* letter-spacing: -0.003rem; */
}

.fadein {
  height: auto;
  opacity: 1;
  order: 1;
  transition: height 0ms ease-in-out;
  transition: opacity 300ms ease-in-out 150ms;
}

.fadeout {
  display: none;
  opacity: 0;
}

.instruction-click-gif,
.instruction-control-gif {
  width: 100%;
}

.copyright {
  font-size: 4vw;
}

.credit {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px;
  will-change: filter;
  filter: drop-shadow(0 0 0.25rem rgba(85, 84, 71, 0.25));
  font-size: 3.1vw;
  line-height: 1.15;
  overflow: hidden;
  position: absolute;
  right: 13%;
  top: 19.5%;
  z-index: 2;
  transform: rotate(3.5deg);
  transition: z-index 0s 1s;
  color: #797a7b;
}

.credit:hover {
  cursor: pointer;
}

.credit-texture {
  z-index: 2;
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  opacity: 43%;
  mix-blend-mode: screen;
  pointer-events: none;
}

.credit-text {
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.credit-pic {
  mix-blend-mode: multiply;
  opacity: 0.8;
  z-index: -2;
  width: 100%;
  margin-top: 4px;
}

.board-texture {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  opacity: 33%;
  mix-blend-mode: screen;
  pointer-events: none;
  z-index: 2;
}

.board-container {
  /* background-color: rgba(219, 217, 207, 0.84); */
  /* background-color: rgba(225, 223, 216, 0.84); */
  background-color: rgba(255, 255, 255, 0.8);

  padding: 12px;
  margin: 0 auto;
  will-change: filter;
  /* filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.25)); */
  filter: drop-shadow(0 0 0.27rem rgba(85, 84, 71, 0.3));
  overflow: hidden;
  z-index: 1;
  transition: z-index 0s 1s;
}

.show {
  animation: shift 1.5s ease-in-out;
}

@keyframes shift {
  50% {
    translate: 0 -1000px;
  }
  100% {
    translate: 0;
  }
}

.board-table {
  border-collapse: collapse;
}

.board > tr > td {
  width: 80px;
  height: 80px;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  background-size: contain;
}

.board > tr > td:hover {
  cursor: pointer;
}

.l1 {
  background-image: url("./assets/pattern/ls.png");
  opacity: 0.95;
}

.s1 {
  background-image: url("./assets/pattern/ss1.png");
  opacity: 0.95;
}
.s2 {
  background-image: url("./assets/pattern/ss2.png");
  opacity: 0.95;
}
.s3 {
  background-image: url("./assets/pattern/ss2.png");
  opacity: 0.95;
}
.s4 {
  background-image: url("./assets/pattern/ss1.png");
  opacity: 0.95;
}
.h1 {
  /* background-color: #fcc066; */
  background-image: url("./assets/pattern/hl.png");
  opacity: 0.95;
}
.v1 {
  /* background-color: #a6f0db; */
  background-image: url("./assets/pattern/vl.png");
  opacity: 0.95;
}

.v2 {
  /* background-color: #8fecd1; */
  background-image: url("./assets/pattern/vl.png");
  opacity: 0.95;
}
.v3 {
  /* background-color: #7de4c6; */
  background-image: url("./assets/pattern/vl.png");
  opacity: 0.95;
}
.v4 {
  /* background-color: #6fdebe; */
  background-image: url("./assets/pattern/vl.png");
  opacity: 0.95;
}

@media screen and (max-height: 46rem) {
  /* .board > tr > td {
    width: 79px;
    height: 79px;
  } */

  .instruction {
    height: 85vh;
  }

  .credit {
    top: 14%;
  }

  .board-container {
    padding: 10px;
  }

  @keyframes shift {
    50% {
      translate: 0 -800px;
    }
    100% {
      translate: 0;
    }
  }
}

@media screen and (min-width: 30rem) {
  .hide {
    display: none;
  }

  .instruction-control {
    /* height: 28.5rem; */
    font-size: 0.77rem;
    text-align: start;
    align-items: start;
    margin-left: auto;
  }

  .instruction-control-kor {
    font-size: 0.72rem;
  }

  .instruction-control-gif,
  .instruction-click-gif {
    max-width: 20.31rem;
  }

  .instruction-control > p {
    max-width: 20.31rem;
  }

  .instruction-control > p > br {
    display: inline-block;
    content: " ";
  }
}

@media screen and (min-width: 40rem) {
  .board > tr > td {
    width: 110px;
    height: 110px;
  }

  .instruction {
    z-index: 3;
  }

  .instruction-eng {
    font-size: 3.5vw;
  }

  .instruction-kor {
    font-size: 3.45vw;
  }

  .instruction-control-gif,
  .instruction-click-gif {
    max-width: 20.31rem;
  }

  .instruction-control > p {
    max-width: 20.31rem;
  }

  .instruction-control {
    font-size: 0.85rem;
    /* font-size: 1.8vw; */
    /* height: fit-content; */
  }

  .instruction-control-kor {
    font-size: 0.8rem;
    /* font-size: 1.6vw; */
  }

  .credit {
    font-size: 2.2vw;
    top: 22.2%;
    z-index: 2;
  }
}

@media screen and (min-width: 56rem) {
  .board > tr > td {
    width: 125px;
    height: 125px;
  }

  .instruction {
    /* flex-direction: column;
    flex-wrap: wrap; */
  }

  .instruction > p > br {
    display: inline-block;
    content: " ";
  }

  .instruction-eng {
    font-size: 3vw;
  }

  .instruction-kor {
    font-size: 2.8vw;
  }

  .instruction-control {
    font-size: 0.95rem;
    align-items: start;
  }

  .instruction-control-kor {
    font-size: 0.88rem;
    order: 2;
  }

  .instruction-control-gif,
  .instruction-click-gif {
    max-width: 25.5rem;
  }

  .instruction-control > p {
    max-width: 25.5rem;
  }

  .credit {
    font-size: 1rem;
    top: 48%;
    right: 14%;
    width: 40%;
    display: flex;
    justify-content: space-between;
  }

  .credit-pic {
    height: 24vh;
    width: 33%;
    min-width: 3.5rem;
    object-fit: cover;
    margin-top: 0;
    /* mix-blend-mode: multiply; */
    /* filter: contrast(100%) brightness(0.9) sepia(20%); */
    opacity: 0.9;
    z-index: -2;
  }
  .credit-text {
    flex-direction: row;
    gap: 0;
    width: 66%;
  }

  .credit-text > p {
    /* justify-content: space-between; */
    /* padding: 12px; */
    /* width: 28vh; */
    flex: 1;
    padding-right: 1.5rem;
    min-width: 3rem;
    /* margin: 0 auto; */
  }
}
